header {
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.login {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}
.img-carosello{
    width: 100%;
    height: 500px;
    object-fit: scale-down;
    object-position: center;
    background-color: #111;
}
.card{
    margin-top: 300px;
    background-color: #1a1a1a ;
}
.col-md-4{
    background-color: orange;
}
.card-text{
    color: white;
}
.card-title{color: white;
}
.sezione-form{
    background-color: orange;
    margin-bottom: 0;
}
footer{
    margin-bottom: 0;
}
body{
    background-color: orange;
}